body {
    /* background-color: rosybrown; */
    /* background-colo
    r: var(--bs-dark); */
    background-color: rgb(54, 43, 43);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* width: 100vw; */
    /* width: 100%; */
    font-family: 'Roboto', sans-serif;
}

.mainCont div {
    display: inline-block;
}

.mainCont h3 {
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin: 30px 0px;
    text-align: center;
}
.mainCont div {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
}
#hour, #minutes, #seconds {
    height: 200px;
    width: 180px;
    margin: 0px 5px;
    border-radius: 10px;
    position: relative;
}


#hour {
    /* background-color: var(--bs-blue); */
    background-color: rgb(7, 150, 197);
    /* padding: 70px 60px; */
    /* margin: 0px 5px; */
}

#minutes {
    /* background-color: var(--bs-blue); */
    background-color: rgb(7, 150, 197);

    /* padding: 70px 60px; */
    /* margin: 0px 5px; */
}

#seconds {
    /* background-color: var(--bs-red); */
    background-color: rgb(158, 30, 30);
    /* padding: 70px 60px; */
    /* margin:  0px 5px; */
}

#kthour, #ktseconds, #ktminutes {
    font-size: 75px;
    position: absolute;
    top: 35px;
    left: 40px;
    /* text-align: center; */
}
#kthour {
    left: 40px;
}

#hour .title {
    left: 24px;
}

.title {
    /* margin-top: 40px; */
    position: absolute;
    bottom: 10px;
    border: 2px solid;
    border-radius: 5px;
    left: 16px;
    font-size: 20px;
    padding: 5px 40px;
    /* text-align: center; */
}